@inherits LayoutComponentBase

<div class="sidebar" hidden="@(LocationDisplay.PublicObjects.Settings.IsNavMenuHidden)">
    <NavMenu/>
</div>

<div class="main">
    <div class="content px-4">
        @Body
    </div>
</div>
