@page "/"
@inject IJSRuntime JSRuntime
@inject HttpClient http

<!--The page style used just for setting the background of the page-->
<style>
    body {
        background: linear-gradient(90deg, rgb(5, 39, 103) 0%, #3a0647 70%);
        font-size: large;
    }
</style>

<!--The page has two states based on the HasProductBeenScanned-->
@if (!HasProductBeenScanned)
{
    <!--We preset the div objects for the display settings-->
    <div class="bg-centerContent">
        <div class="bg-mentorStyle">
            <!--We make a Display-->
            <h1 style="margin:5px">Va rog scanati produsul</h1>
            <!--Then place an input linked to the ProductCode property of the productControler-->
            <input type="text" id="ProductCode" name="ProductCode" style="margin-bottom:5px" maxlength="12" @bind-value="productController.ProductCode" @onkeypress="@ValidForm" />
        </div>
    </div>
}
else
{
    <!--We preset the div objects for the display settings-->
    <div class="bg-centerContent">
        <div class="bg-mentorStyle">
            <!--Then we create a flexed div for the controllers ProductName price -->
            <div style="width:100%; margin-left:25px; margin-right:25px; display:flex; font-size:large"><h1>@productController.ProductName</h1></div>
            <!--And another flexed div for containing the price broken in two halves: just like a label-->
            <div style="display:flex; border-top: 1px solid black; border-bottom:1px solid black">
                <div style="width:50%; float:left; font-size:large"><h2>Pret:</h2></div>
                <div style="width:50%; float:right; border-left: 1px solid black; font-size:large"><h2>@productController.ProductPrice Lei</h2></div>
            </div>
            <!--And add a back button-->
            <button style="margin-top:10px" class="btn-primary" @onclick="ResetPage">Inapoi</button>
        </div>
    </div>
}

